<div class="mdiv">
  <div class="insideMdiv">            

    <button  class="btn btn-secondary" style="  margin-bottom: 2rem; float: right;"(click)="transectionList()" >Tansection List</button>
  <br>
      <form [formGroup]="transectionForm"  class="example-form">

          <div class="form-group col-md-12 mt-3">
              <label for="inputName4"> Details: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputName4" formControlName="fullName" placeholder="Enter Name and Reasone" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" onkeypress="return /[a-zA-Z\s]/i.test(event.key)" required>
              <div *ngIf="transectionForm.get('fullName')?.touched && transectionForm.get('fullName')?.invalid" class="text-danger">
                Details is required.
              </div>
          </div>

          <div class="row mt-3">
           <div class="form-group col-md-6 col-sm-12">
              <label for="inputDate4">Date: <span class="text-danger">*</span></label>
              <input type="" class="form-control" id="inputDate4" formControlName="date" readonly>
              <div *ngIf="transectionForm.get('date')?.touched && transectionForm.get('date')?.invalid" class="text-danger">
                Date is required.
              </div>
            </div>

            <div class="form-group col-md-6 col-sm-12 ">
              <label for="inputMobile">Mobile: <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="inputMobile" formControlName="mobile" placeholder="10 digits only">
              <div *ngIf="transectionForm.get('mobile')?.touched && transectionForm.get('mobile')?.invalid" class="text-danger">
                <div *ngIf="transectionForm.get('mobile')?.errors?.['required']">Mobile number is required.</div>
                <div *ngIf="transectionForm.get('mobile')?.errors?.['pattern']">Mobile number must be 10 digits.</div>
              </div>
            </div>

          </div>
            

            <div class="form-group col-md-12 mt-3">
              <label for="inputName4">Current Balence: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputName4" formControlName="currentBalence"  readonly>
          </div>


          <div class="dotDiv" style=" border: 2px  dashed purple; padding: 1rem; margin-top: 2rem;" >
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled>
                  <label class="form-check-label" for="flexRadioDefault1">
                      Debit
                  </label>
              </div>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                      Debit
                  </label>
              </div>

              
                <div class="form-group col-md-6 mt-3">
                  <label for="debit">Enter Ammount: <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" id="debit" formControlName="debit" required >
                  <div *ngIf="transectionForm.get('debit')?.touched && transectionForm.get('debit')?.invalid" class="text-danger">
                    <div *ngIf="transectionForm.get('debit')?.errors?.['required']">Enter Ammount.</div>
                    <div *ngIf="transectionForm.get('debit')?.errors?.['pattern']">Enter Valid Ammount.</div>
                    <div *ngIf="transectionForm.get('debit')?.errors?.['amountExceedsBalance']"> Amount cannot be greater than the available balance.</div>
                  </div>
                </div>
          </div>
          
          <button class="btn btn mt-4" type="submit" (click)="performTransection()" [disabled]="transectionForm.invalid" style=" background-color: rgb(17, 249, 176); ">
                  Submit
          </button>

          <button class="btn btn mt-4" style=" background-color: rgb(255, 184, 112); ">
              Cancle
          </button>




      </form>
  </div>
</div>